body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5 {
    font-family: serif;
    text-align: center;
}
 a {
    text-decoration: none;
    color: #4242EA;
}
ul {
    list-style: none;
}
footer span{
    font-weight: 700;
}
.weather p {
    font-size: 40px;
    text-align: center;
}
.weather div {
    border: 2px solid gray;
    width: 300px;
    margin: auto;
    text-align: center;
}
.above-the-fold {
    justify-content: center;
    align-items: center;
}
.above-the-fold article{
    display: inline-block;
    justify-content: center;
}
.breaking-news {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
    width: 40%;
}
.breaking-news img {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.click-bait {
    display: flex;
    align-items: center;
    justify-content: center;
}
.click-bait article {
    display: inline-block;
    width: 250px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
}
.below-the-fold article {
    display: inline-block;
}
.below-the-fold img {
    display: inline-block;
    margin: 16px;
    width: 200px;
}
.below-the-fold div {
    width: 500px;
}
